body {
    background-color:black;
  }
  
  h1 {
    font-family: consolas;
    color: white;
    text-align: center;
  }
  h2{
    font-family: consolas;
    color: white;
    text-align: center;
  }
  
  p {
    font-family: consolas;
    font-size: 15px;
    color: white;
  }
  
  table {
    font-family: consolas;
    font-size: 20px;
    color: white;
    border: 1px white;
    border-style: solid;
    border-color: white;
    border-collapse: collapse;
  }